@import 'variables';

.header {
    // position: fixed;
    min-height: 85px;
    width: 100%;
    background-color: $primary-2;
    z-index: 1000;
    @include flex-center();
    // border-bottom: 1px solid #E2E8F0;
    // box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.51);
    // -webkit-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.51);
    // -moz-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.51);

    .logo-img {
        width: 5rem;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .nav-menu {
            display: flex;
            width: 60%;
            min-width: 580px;
            // justify-content: space-between;
            align-items: center;

            .nav-link {
                text-transform: uppercase;
                color: #1D4E56;
            }

            .nav-item+.nav-item {
                margin-left: 2rem;

                @media(max-width: 768px) {
                    margin: 1.5rem 0;
                }
            }

            .nav-item:nth-child(3) {
                margin-left: auto;
            }
        }
    }
}

.hamburger {
    display: none;

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $primary-1;
    }

    @media(max-width: 768px) {
        display: block;
        cursor: pointer;

        .active .bar:nth-child(2) {
            opacity: 0;
        }
    }
}


@media only screen and (max-width: 768px) {


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        min-width: initial !important;
        flex-direction: column;
        background-color: $primary-2;
        width: 100% !important;
        height: 100vh;
        // border-radius: 10px;
        text-align: center;
        transition: 0.3s;

        outline: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // box-shadow:
        //     0 10px 27px rgba(0, 0, 0, 0.05);

        .nav-item {
            outline: 1px solid red;
            margin: 1em;
            padding: 0;
        }

        .nav-item:nth-child(3) {
            margin-left: initial !important;
        }
    }

    .nav-menu.active {
        left: 0;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}