@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 2.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.split-evenly > * {
  width: 100%;
}

.split-evenly > * + * {
  margin-left: 5vw;
}

.img {
  max-width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .img {
    margin-left: auto;
  }
}

.section-title {
  font-size: calc(2rem + 1vw);
  color: #1D4E56;
  text-transform: uppercase;
  line-height: 1em;
}

.md-split-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .md-split-evenly {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.md-split-evenly > * {
  width: 100%;
}

.md-visible {
  display: none;
}

@media screen and (min-width: 768px) {
  .md-visible {
    display: initial;
  }
}

.header {
  min-height: 85px;
  width: 100%;
  background-color: #FFE6F4;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-img {
  width: 5rem;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-text {
  margin-left: 1vw;
  text-transform: uppercase;
  color: #1D4E56;
  font-size: 0.6rem;
}

.header .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  min-width: 680px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-menu .nav-link {
  text-transform: uppercase;
  color: #1D4E56;
}

.header .navbar .nav-menu .nav-link--underline:hover,
.header .navbar .nav-menu .nav-link--underline:focus {
  text-decoration: underline;
}

.header .navbar .nav-menu .nav-item + .nav-item {
  margin-left: 2rem;
}

@media (max-width: 1024px) {
  .header .navbar .nav-menu .nav-item + .nav-item {
    margin: 1.5rem 0;
  }
}

.header .navbar .nav-menu .nav-item:nth-child(4) {
  margin-left: initial;
}

@media screen and (min-width: 1024px) {
  .header .navbar .nav-menu .nav-item:nth-child(4) {
    margin-left: auto;
  }
}

.hamburger {
  display: none;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1D4E56;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .active .bar:nth-child(2) {
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    min-width: initial !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFE6F4;
    width: 100% !important;
    height: 100vh;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-menu .nav-item {
    margin: 1em;
    padding: 0;
  }
  .nav-menu .nav-item:nth-child(4) {
    margin-left: initial !important;
  }
  .nav-menu.active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header.fixed {
    position: fixed;
  }
}

.btn-primary, .btn-secondary, .sect-1 .btn-secondary {
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #EF233C;
  color: #fff !important;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-primary:hover, .btn-secondary:hover,
.btn-primary:focus,
.btn-secondary:focus {
  background-color: transparent;
  color: #EF233C !important;
  -webkit-box-shadow: 0 0 0 1px #EF233C;
          box-shadow: 0 0 0 1px #EF233C;
}

.btn-secondary {
  background-color: transparent;
  color: #EF233C !important;
  -webkit-box-shadow: 0 0 0 1px #EF233C;
          box-shadow: 0 0 0 1px #EF233C;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #EF233C;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 1px #EF233C;
          box-shadow: 0 0 0 1px #EF233C;
}

.sect-1 {
  background-color: #FFE6F4;
  padding: 4rem 0;
}

@media screen and (min-width: 768px) {
  .sect-1 {
    padding: 8rem 0 5rem 0;
  }
}

.sect-1 .btn-primary, .sect-1 .btn-secondary {
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #EF233C;
  color: #fff !important;
  padding: 0.33em 1em;
  font-size: calc(1rem + 0.6vw);
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.sect-1 .btn-primary:hover, .sect-1 .btn-secondary:hover,
.sect-1 .btn-primary:focus,
.sect-1 .btn-secondary:focus {
  background-color: transparent;
  color: #EF233C !important;
  -webkit-box-shadow: 0 0 0 1px #EF233C;
          box-shadow: 0 0 0 1px #EF233C;
}

.sect-1 .btn-secondary {
  margin-left: 1em;
  background-color: transparent;
  color: #EF233C !important;
  -webkit-box-shadow: 0 0 0 1px #EF233C;
          box-shadow: 0 0 0 1px #EF233C;
}

@media screen and (max-width: 350px) {
  .sect-1 .btn-secondary {
    margin-left: 0.1em;
  }
}

.sect-1 .btn-secondary:hover,
.sect-1 .btn-secondary:focus {
  background-color: #EF233C;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 1px #EF233C;
          box-shadow: 0 0 0 1px #EF233C;
}

.sect-1 .hero-text {
  font-size: 1.125rem;
  color: #358E9D;
  margin: 2em 0;
}

.sect-2 {
  padding: 4rem 0;
}

@media screen and (min-width: 768px) {
  .sect-2 {
    padding: 8rem 0 5rem 0;
  }
}

.sect-2 .patients-connected .sub-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1.2rem + 1vw);
  color: #1D4E56;
  margin-bottom: 3em;
}

.sect-2 .patients-connected .sub-heading .number {
  font-size: calc(2rem + 3vw);
  color: #358E9D;
  margin-left: 1rem;
}

.sect-2 .text {
  font-size: calc(1rem + 0.6vw);
  color: #1D4E56;
  margin: 3em 0 0 0;
  text-transform: uppercase;
}

.sect-2 .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .sect-2 .search + .search {
    margin-left: 5vw;
  }
}

.sect-2 .form-text {
  font-size: calc(1rem + 1vw);
  margin: 1.5em 0;
  font-weight: normal;
  color: #1D4E56;
}

.sect-2 .search-field {
  width: 70%;
  font-size: 1rem;
  border-radius: 100px;
  border-color: #1D4E56;
  padding: 0.7em;
  margin-left: auto;
}

.sect-2 .table {
  background-color: #ddd;
  height: 10vh;
  width: 100%;
  margin-bottom: 40px;
}

.sect-2 .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sect-2 .request {
  margin: 2em 0;
}

.sect-2 .request-btn {
  font-size: calc(1rem + 0.6vw);
}

.sect-2 .text-2 {
  font-size: calc(1.2rem + 1vw);
  color: #1D4E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .sect-2 .text-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sect-2 .text-2 .phn,
.sect-2 .text-2 .email {
  text-decoration: underline;
  margin-top: 0.5em;
  color: #358E9D;
}

@media screen and (min-width: 768px) {
  .sect-2 .text-2 .phn,
  .sect-2 .text-2 .email {
    margin-top: initial;
    margin: 0 1em;
  }
}

.sect-3 {
  background-color: #FFE6F4;
  padding: 4rem 0;
}

@media screen and (min-width: 768px) {
  .sect-3 {
    padding: 8rem 0 5rem 0;
  }
}

.sect-3 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sect-3 .text {
  font-size: calc(1rem + 0.7vw);
  color: #1D4E56;
  text-transform: uppercase;
}

.sect-3 .text::before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 0.5em;
}

@media screen and (max-width: 768px) {
  .sect-3 .content {
    text-align: center;
    margin-top: 3em;
  }
}

.sect-3 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .sect-3 .image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.sect-4 {
  padding: 4rem 0;
}

@media screen and (min-width: 768px) {
  .sect-4 {
    padding: 8rem 0 5rem 0;
  }
}

.sect-4 .wrapper {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .sect-4 .wrapper .owl-carousel {
    width: 90%;
  }
}

.sect-4 .wrapper .card {
  margin: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.5rem 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0.5rem 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
}

.sect-4 .wrapper .card .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-4 .wrapper .card .card-img {
  max-width: 200px;
  display: block;
  width: 100%;
}

@media screen and (min-width: 450px) {
  .sect-4 .wrapper .card {
    margin: 2rem;
    -webkit-box-shadow: 0 0 2rem 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2rem 0px rgba(0, 0, 0, 0.05);
  }
}

.sect-4 .wrapper .card .name {
  font-size: calc(1.5em + 0.55vw);
  color: #1D4E56;
  margin-bottom: 0.3em;
}

.sect-4 .wrapper .card .designation {
  font-size: calc(1em + 0.5vw);
  color: #358E9D;
  margin-bottom: 1.5em;
}

.sect-4 .wrapper .card .card-content {
  font-size: calc(1em + 0.5vw);
  color: #1D4E56;
  font-weight: normal;
  margin-bottom: 1em;
  max-width: 30ch;
  text-align: center;
}

.sect-4 .wrapper .owl-dots {
  text-align: center;
}

.sect-4 .wrapper .owl-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #1D4E56 !important;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sect-4 .wrapper .owl-dot.active,
.sect-4 .wrapper .owl-dot:hover {
  background: #1D4E56 !important;
}

.sect-5 {
  padding: 4rem 0;
}

@media screen and (min-width: 768px) {
  .sect-5 {
    padding: 8rem 0 5rem 0;
  }
}

.sect-5 .faq-container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .sect-5 .faq-container > * + * {
    margin-left: 5vw;
  }
}

@media (max-width: 768px) {
  .sect-5 .faq-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sect-5 .faq-container .md-col-1,
.sect-5 .faq-container .md-col-2 {
  width: 100%;
}

.sect-5 .faq-container .accordion-container {
  width: 80%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .sect-5 .faq-container .accordion-container {
    width: 100%;
  }
}

.sect-5 .faq-container .accordion-container .accordion {
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: calc(1rem + 0.7vw);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #1D4E56;
}

.sect-5 .faq-container .accordion-container .accordion img {
  margin-right: 10px;
}

.sect-5 .faq-container .accordion-container .accordion .fa-plus-square,
.sect-5 .faq-container .accordion-container .accordion .fa-minus-square {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0.2em 0.5em 0 0;
}

.sect-5 .faq-container .accordion-container .accordion .fa-minus-square {
  display: none;
}

.sect-5 .faq-container .accordion-container .panel {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sect-5 .faq-container .accordion-container .accordion-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.sect-5 .faq-container .accordion-container .accordion-content {
  font-weight: normal;
  font-size: 1em;
  color: #358E9D;
  width: 90%;
}

.sect-5 .faq-container .accordion-container .active .fa-minus-square {
  display: inline;
}

.sect-5 .faq-container .accordion-container .active .fa-plus-square {
  display: none;
}

.sect-5 .faq-container .accordion-container .accordion:hover .accordion-text,
.sect-5 .faq-container .accordion-container .accordion:focus .accordion-text {
  text-decoration: underline;
}

footer {
  min-height: 25vh;
  background-color: #FFE6F4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 0;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 30px;
}

footer .social-icons .fa {
  font-size: 2em;
  color: #1D4E56;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

footer .social-icons .fa:hover,
footer .social-icons .fa:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer p {
  color: #1D4E56;
}
/*# sourceMappingURL=style.css.map */